<div class="library-container">
    <h1>Book Library</h1>

    <div class="mat-elevation-z8">
        <div class="search-container">
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Search" (keyup)="filter()" />
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="addBook()">Add</button>
        </div>
        <table mat-table matSort matSortActive="title" matSortDirection="asc" [dataSource]="books">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                <td mat-cell *matCellDef="let book">
                    <form>
                        <mat-form-field>
                            <input matInput [name]="'title-' + book.title" type="text" [(ngModel)]="book.title" (blur)="updateTitle(book)" />
                        </mat-form-field>
                    </form>
                 </td>
            </ng-container>
            
            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
                <td mat-cell *matCellDef="let book"> 
                    <form>
                        <mat-form-field>
                            <input matInput [name]="'author-' + book.title" type="text" [(ngModel)]="book.author" (blur)="updateAuthor(book)" />
                        </mat-form-field>
                    </form>
                 </td>
            </ng-container>

            <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
                <td mat-cell *matCellDef="let book"> {{book.genre.genreName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                <td mat-cell *matCellDef="let book">
                    <form>
                        <mat-form-field>
                            <input matInput [name]="'quantity-' + book.title" type="number" min="0" [(ngModel)]="book.quantity" (blur)="updateQuantity(book)" oninput="validity.valid||(value='');" />
                        </mat-form-field>
                    </form>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                <td mat-cell *matCellDef="let book">
                    <button mat-icon-button aria-label="delete" color="warn" (click)="deleteBook(book)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
