<div class="container">
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required/>
                <mat-error *ngIf="loginForm.controls.username.invalid">
                    <span *ngIf="loginForm.controls.username.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required type="password" />
                <mat-error *ngIf="loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent">Submit</button>
            <mat-error *ngIf="loginError">
                <span>{{loginError}}</span>
            </mat-error>
        </form>
    </mat-card>
</div>